[Unit]
Description=FirstBoot
After=network.target apt-daily.service apt-daily-upgrade.service
Before=rc-local.service
ConditionFileNotEmpty=/boot/firstboot.sh

[Service]
ExecStart=/boot/firstboot.sh
ExecStartPost=/bin/mv /boot/firstboot.sh /boot/firstboot.sh.done
ExecStop=/usr/bin/sudo /usr/sbin/reboot
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
